<mat-toolbar color="primary">

  <mat-toolbar-row>
    <mat-icon class="example-icon">camera</mat-icon>
    <span>Flickring</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<form class="example-form" (ngSubmit)="onSubmit()" #search="ngForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search by tags" [(ngModel)]="term" name="tag">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

</form>

<!-- <span *ngFor="let photo of photos">
  <img src={{photo.media.m}} alt="">
</span> -->
<main class="cards">
  <article class="card" *ngFor="let photo of photos">
    <img src={{photo.media.m}} alt="Sample photo">
    <div class="text">
      <h3 class="card-title">{{photo.title}}</h3>
      <a mat-raised-button href={{photo.link}} color="primary" class="example-full-width fix-to-bottom">Details</a>
    </div>
  </article>
</main>



